/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  border: 0;
  transition: background 350ms;
}
body {
  font-size: $font-size-md;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  all: unset;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Global styles */
html {
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: calc(1em + 0.725rem);
  font-weight: 400;
  background: var(--surface-1);
  color: var(--text-1);
}
h1 {
  font-size: $font-size-3xl;
  text-align: center;
  color: var(--primary);
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-bottom: $size-8;
  line-height: 1;
}
